.ajax-test-result{
	margin: 20px 0;
	border: 4px solid #000000;
	border-radius: 10px;
	padding: 10px;
}
.ajax-test-result-link{
	color: #7CFC00;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

