<div class="ajax-test-form">	
	<form method="POST" id="post_form">
		<label for="title">Title</label>
		<input type="text" name="title" id="title">
		<label for="from-date">From Date</label>
		<input type="date" name="date" id="from-date">
		<br>
		<input type="hidden" name="post_type" value={{ post_type }}>
		<button type="submit">Send</button>
	</form>
</div>


